body{
  background-color: #efefef
}
#featured-banner{
  background-color: #88BBD6;
  position: relative;
}


#featured-banner::after{
  content:'';
  display:block;
  width: 90%;
  height: 100px;
  z-index:-1;
  box-shadow: 0 2px 100px;
  position: absolute;
  bottom: 10;
  left: 5%
}

a{
  color: gray;
}
#topics > a{
  color: #99D3DF;
}

.display-5{
  font-size: 200%;
}

#SecondaryArticleContainer{
  width: 80%;
}

.non_featured_article{
    display: flex;
}

.nfa_thumbnail{
  margin: 0px 1rem;
}

@media screen and (max-width: 600px) {
  /* Topic Adjustments*/
  .display-5{
    font-size: 100%;
  }
  /* Banner Adjustments*/
  /* Secondary Article Adjustments*/
  #SecondaryArticleContainer{
    width:98%;
    margin: 1% 0px;
  }

  .non_featured_article{
    flex-wrap: wrap;
    text-align:center;
  }

  .nfa_thumbnail{
    margin: 5px auto;
  }
}

